@model VideoGallery.Areas.Admin.Models.ViewModels.CategoryViewModel
@{
    ViewData["Title"] = "Create";
}
<div class="content-wrapper">

    <div class="row">
        <div class="col-6 offset-3">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h4>Update Category</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <input asp-for="Id" type="hidden" />
                        <div class="form-group mt-1">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" />
                        </div>
                        <div class="form-group mt-1">
                            <label asp-for="Image"></label>
                            <input asp-for="Image" class="form-control" />
                                   <img src="~/@Model.OldImage" height="80" width="80"/>
                        </div>

                        <div class="form-group mt-1">
                            <label asp-for="IsActive"></label>
                            <select asp-for="IsActive" class="form-control">
                                <option value="true">Active </option>
                                <option value="false">InActive </option>
                            </select>

                        </div>
                    </div>
                    <div class="card-footer">
                        <button class=" btn btn-success btn-btn-block" type="submit">Update</button>
                        @*<button class="btn btn-success  btn-block" type="submit">Submit</button>*@
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>